:root{
    --total:rgb(187, 182, 182);
    --forecast:rgb(187, 182, 182);
    --details:rgb(187, 182, 182);
  }
*{
    box-sizing: border box;
    margin: 0;
    padding: 0;
    background-color: var(--total);
    color:white;
  }
  .top {
    width: 330px;
    margin: 4% auto 2% auto;
    background-color: white;
    border-radius: 23px;
  }
  .input {
    border-radius: 20px;
    height: 40px;
    width: 230px;
    padding: 2px 17px 2px 17px;
    background-color: white;
    border: none;
    color:black;
  }
  .input:focus {
    outline:none;
  }
  .each{
      padding:3% 0% 2% 5%;
  }
  .hide{
      display:none;
  }
  .show{
      display:block;
      padding:3% 0% 2% 1.5%;
  }
  a{
     text-decoration:none; 
  }
  .each:hover{
      text-decoration:underline;
  }
  .btn {
    background-color: rgb(156, 154, 154);
    padding: 5px 5px 5px 5px;
    border-radius: 8px;
    border: none;
  }